body header nav ul li:hover, body footer .redes .iconitos:hover {
  transition: 2s;
  transform: scale(1.2);
  animation-duration: 2s;
  color: #919191; }

body {
  background-color: #e5e5e5;
  position: relative;
  min-height: 100vh;
  padding-bottom: 3rem; }
  body header nav .barraNavegacion {
    justify-content: center;
    text-align: center;
    justify-items: center; }
  body header nav ul li {
    margin: 0rem 1rem 0rem 3rem;
    color: #e5e5e5;
    font-weight: bold; }
  body header nav .slogan {
    color: #e5e5e5;
    font-weight: 900; }
  body hr {
    height: 15px;
    background-image: linear-gradient(90deg, #e5e5e5, black);
    border: 0;
    height: 1px;
    margin: 0rem 1rem 0rem 1rem; }
  body main {
    padding-bottom: 2rem; }
    body main h1 {
      justify-content: center;
      text-align: center;
      justify-items: center;
      color: black;
      padding-top: 0.5rem;
      font-size: 1.2rem; }
    body main h2 {
      color: black;
      justify-content: center;
      text-align: center;
      justify-items: center;
      font-size: 1rem;
      padding: 0rem 5rem 0rem 5rem; }
    body main p {
      color: black;
      justify-content: center;
      text-align: center;
      justify-items: center; }
  body footer {
    color: black;
    position: absolute;
    bottom: 0; }
    body footer .derechos {
      justify-content: center;
      text-align: center;
      justify-items: center;
      padding-top: 0.5rem;
      font-size: 0.7rem; }
    body footer .redes {
      justify-content: center;
      text-align: center;
      justify-items: center;
      padding-bottom: 0.4rem; }
      body footer .redes .iconitos {
        margin: 0.5rem; }

.mainPortfolios {
  display: grid;
  grid-template-areas: "portfolios portfolios"
 "nuestrosTrabajos nuestrosTrabajos"
 "portfoliosSubtituloA portfoliosSubtituloB"
 "imgVizzentino imgModelo"; }

.portfolios {
  grid-area: portfolios; }

.nuestrosTrabajos {
  grid-area: nuestrosTrabajos; }

.imgVizzentino {
  grid-area: imgVizzentino;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem; }

.imgModelo {
  grid-area: imgModelo;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem; }

.portfoliosSubtituloA {
  grid-area: portfoliosSubtituloA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem; }

.portfoliosSubtituloB {
  grid-area: portfoliosSubtituloB;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem; }

.imagen {
  justify-content: center;
  text-align: center;
  justify-items: center;
  padding: 0.5rem;
  max-width: 3rem; }

.formulario {
  padding: 1rem;
  margin-left: 20%;
  margin-right: 20%; }

.img-fluid {
  justify-content: center;
  text-align: center;
  justify-items: center;
  max-height: 33;
  max-width: auto;
  padding: 2rem; }

.imagineLogo {
  justify-content: center;
  text-align: center;
  justify-items: center;
  max-height: auto;
  max-width: 200px; }

.centrarTodo {
  justify-content: center;
  text-align: center;
  justify-items: center;
  align-items: center;
}

#carouselExampleIndicators {
  margin: 2rem; }

.topnav a:hover {
  border-bottom: 3px solid #e5e5e5;
  transition: 0.5s;
  transform: scale(1.1);
  animation-duration: 0.5s;
  color: #e5e5e5; }

.topnav a.active {
  border-bottom: 3px solid black; }

@media only screen and (max-width: 600px) {
  .mediaPic {
    width: 100vw; }
  .mainPortfolios {
    display: grid;
    grid-template-areas: "portfolios"
 "nuestrosTrabajos"
 "portfoliosSubtituloA"
 "imgVizzentino"
 "portfoliosSubtituloB"
 "imgModelo";
    justify-content: center; }
  .portfoliosSubtituloA {
    grid-area: portfoliosSubtituloA; }
  .portfoliosSubtituloB {
    grid-area: portfoliosSubtituloB; }
  .nuestrosTrabajos {
    grid-area: nuestrosTrabajos; }
  .imgVizzentino {
    grid-area: imgVizzentino; }
  .imgModelo {
    grid-area: imgModelo; } }
